<footer>
   <p>Made with 💗 and 🔥 in Miami, FL.<br>
   Copyright 2022</p>
</footer>

{{!-- <table id="footer-container">
    <tr>
        <td valign="top">
            <div id="main">Lorem ipsum, etc.</div>
        </td>
    </tr>
    <tr>
        <td valign="bottom">
            <div id="footer">Copyright some evil company...</div>
        </td>
    </tr>
</table> --}}