<footer>
    {{#if loggedIn}}
        <a href="/dashboard">dashboard</a>
        <button id="logoutBtn" type="button" class="btn-no-style">logout</button>
    {{else}}
        <button id="loginBtn" type="button" class="enter-btn btn btn-primary btn-lg">Login/Signup</button>
    {{/if}}
</footer>
{{#if loggedIn}}
    <script src="/js/logout.js"></script>
{{else}}
    <script src="/js/goToLoginPage.js"></script>
{{/if}}