<!-- Modal: Search Party -->
<div id="search-modal" class="modal">
    <div class="search-modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Search for a Party</p>
            <button class="delete" id="search-delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <form id="search-party-form">
                <!-- option to search distance can be added here -->
                <div class="container is-fluid mb-4">
                    <div class="check-age">
                        Do you want to see public parties or private parties?<br>
                        <input type="radio" name="radio-publicOrPrivate" id="searchPartyPublic" class="ml-2" />
                        <label for="searchPartyPublic">Only public</label>
                        <input type="radio" name="radio-publicOrPrivate" id="searchPartyPrivate" class="ml-2" />
                        <label for="searchPartyPrivate">Only private</label>
                    </div>
                </div>
                <hr>
                <div class="container is-fluid mb-4">
                    <div class="check-age">
                        Age minimum 21+ years:
                        <input type="radio" name="age-confirm" id="searchIsOver21True" class="ml-2" />
                        <label for="searchIsOver21True">Yes</label>
                        <input type="radio" name="age-confirm" id="searchIsOver21False" class="ml-2" />
                        <label for="searchIsOver21False">No</label>
                    </div>
                </div>
                <hr>
                <div class="container is-fluid mb-4">
                    <label for="title">What style of party are you looking for?</label>
                    <div class="select is-rounded">
                        <select id="searchPartyTheme" class="theme" style="background-color:#EEE6E6">
                            <option value="" selected>--Leave unselected to disregard theme--</option>
                            <option value="1">costume</option>
                            <option value="2">kegger</option>
                            <option value="3">tailgate</option>
                            <option value="4">fancy cocktails</option>
                            <option value="5">dinner</option>
                        </select>
                    </div>
                </div>
                <hr>
                <div class="container is-fluid mb-4">
                    <label for="title">Up to what distance do you want to search? Distance is in miles.</label>
                    <div class="select is-rounded ml-2">
                        <select id="searchPartyDistance" style="background-color:#EEE6E6">
                            <option value="" selected>--Leave unselected to disregard distance--</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                </div>
                <hr>
            </form>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-rounded is-link" id="submitSearchParty">Search parties</button>
            <button class="button is-rounded cancel-button" id="searchModalCancelBtn">Cancel</button>
        </footer>
    </div>
</div>