<navbar class="navbar">
    <div class="navbar-brand app-title">OUIII</div>
    {{#if loggedIn}}
    {{!-- <div class="app-title">GETParty</div> --}}
    <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="navbar-links">
        <ul>
            <li><a href="#" class="navbar-item search-party-modal">Search for Parties</a></li>
            <li><a href="#" class="navbar-item create-party-modal">Create a Party</a></li>
            <li><a href="#" class="navbar-item my-parties">My Parties</a></li>
            <li><a href="" id="logoutBtn" class="navbar-item logout-button">Logout</a></li>
        </ul>
        {{/if}}
    </div>
</navbar>