{{!-- pull in partial view 'navbar' --}}
{{!-- {{> navbar}}

<section class="about-section">
    <div class="column is-half">
        <h1>About OUIII:</h1>
        <p>
            OUIII pronounced "we" is an application designed to find and create parties and meetups in your area.    Our mission is to help make it easier to connect and have fun on a geo-location based platform.  
            Create a party with various themes in mind, 
        </p>
    </div>
</section> --}}