{{> navbar}}
{{> modal-search}}
{{> modal-create}}
<section>
    <!-- Tiles for Parties Added Here.  Will be moved to Partials files once completed --->
    <div class="columns is-multiline is-justify-content-center">
        {{> my-parties}}
    </div>
</section>

<script src="/js/dashboard.js"></script>
<script src="/js/logout.js"></script>