<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Fredoka+One&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <title>Document</title>
</head>

<body>
    <!-- Dashboard begins -->

    <navbar class="navbar">
        <div class="app-title">GETParty</div>
        <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="navbar-links">
            <ul>
                <li>
                    <a href="#" class="search-party-modal">Search for Parties</a>
                </li>
                <li>
                    <a href="#" class="create-party-modal">Create a Party</a>
                </li>
                <li>
                    <a href="#" class="my-parties">My Parties</a>
                </li>
                <li>
                    <a href="#">Logout</button>
                </li>
            </ul>
        </div>
    </navbar>
    <!-- Modal for Create Party Begins -->
    <main>
        <div class="modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Create A Party</p>
                    <button class="delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                    <form id="create-form" class="create-party-form">
                        <div class="container is-fluid mb-4">
                            <label for="title">Title:</label>
                            <div class="control" id="create-title">
                                <input class="input is-rounded m-1" type="text" style="background-color:#EEE6E6">
                            </div>
                        </div>
                        <div class="container is-fluid mb-4">
                            <div class="check-public">
                                <label for="public">Is this party public:</label>
                                <input type="checkbox" name="public" id="public-checkbox" />
                                <label for="private"> or private:</label>
                                <input type="checkbox" name="private" id="private-checkbox" />
                            </div>
                        </div>
                        <div class="container is-fluid mb-4">
                            <div class="check-age">
                                <p>Over 21:</p>
                                <input type="radio" name="age-confirm" id="21-true" />
                                <label for="21-true">Yes</label>
                                <input type="radio" name="age-confirm" id="21-false" />
                                <label for="21-false">No</label>
                            </div>
                        </div>
                        <div class="container is-fluid mb-4">
                            <label for="title">Theme:</label>
                            <div class="select is-rounded" id="create-theme">
                                <select class="theme" style="background-color:#EEE6E6">
                                    <option>costume</option>
                                    <option>kegger</option>
                                    <option>tailgate</option>
                                    <option>fancy cocktails</option>
                                    <option>dinner</option>
                                </select>
                            </div>
                        </div>
                        <div class="container is-fluid mb-4">
                            <label for="title">Email:</label>
                            <div class="control has-icons-left has-icons-right">
                                <input class="input is-rounded m-1" type="email" style="background-color:#EEE6E6">
                            </div>
                        </div>
                    </form>
                </section>
                <footer class="modal-card-foot">
                    <button class="button is-rounded is-link">Save changes</button>
                    <button class="button is-rounded">Cancel</button>
                </footer>
            </div>
        </div>

        <!-- Modal for Search Parties Begins -->

        <div id="search-modal" class="modal">
            <div class="search-modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Search for a Party</p>
                    <button id="search-delete" class="delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                    <form id="search-party-form">
                        <!-- option to search distance can be added here -->
                        <div class="container is-fluid mb-4">
                            <div class="check-age">
                                <p>Over 21:</p>
                                <input type="radio" name="age-confirm" id="21-true" />
                                <label for="21-true">Yes</label>
                                <input type="radio" name="age-confirm" id="21-false" />
                                <label for="21-false">No</label>
                            </div>
                        </div>
                        <div class="container is-fluid mb-4">
                            <label for="title">Theme:</label>
                            <div class="select is-rounded" id="create-theme">
                                <select class="theme" style="background-color:#EEE6E6">
                                    <option>costume</option>
                                    <option>kegger</option>
                                    <option>tailgate</option>
                                    <option>fancy cocktails</option>
                                    <option>dinner</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </section>
                <footer class="modal-card-foot">
                    <button class="button is-rounded is-link">Save changes</button>
                    <button class="button is-rounded">Cancel</button>
                </footer>
            </div>
        </div>

        <!-- Tiles for Parties Added Here.  Will be moved to Partials files once completed --->

        <div class="container is-fluid">
            <div class="tile is-ancestor">
                <div class="tile is-4 is-vertical is-parent">
                    <div class="tile is-child box">
                        <p class="title">Party 1</p>
                        <h2>Date/Time</h2>
                        <ul>

                        </ul>
                    </div>
                    <div class="tile is-child box">
                        <p class="title">Party 2</p>
                        <h2>Date/Time</h2>
                        <ul>

                        </ul>
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="tile is-child box">
                        <p class="title">Party 3</p>
                        <h2>Date/Time</h2>
                        <ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="/js/dashboard.js"></script>
</body>

</html>








{{!-- <div class="row min-vh-100 no-gutters">
  <header id="main-dashboard" class="col-12 col-lg-3 rounded sticky-top d-flex flex-column p-4 p-lg-3">
    <h1 class="text-center">dashboard</h1>
    <nav>
      <ul>
        <li>Search for Parties</li>
        <!-- <select id="search-distance" class="distance-menu"></select> -->
        <form>
          <p style="color:white;">Over 21:</p>
          <input type="radio" name="age-confirm" id="21-true" />
          <label for="21-true">Yes</label>
          <input type="radio" name="age-confirm" id="21-false" />
          <label for="21-false">No</label>
          <select class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option selected>Pick a party theme:</option>
            <option value="costume">costume</option>
            <option value="kegger">kegger</option>
            <option value="tailgate">tailgate</option>
            <option value="fancy cocktails">fancy cocktails</option>
            <option value="dinner">dinner</option>
          </select>
        </form>
        <li>
          <a href="./partials/create-party.handlebars">Create a Party</a>
        </li>
        <li>
          <a href="./partials/my-parties.handlebars">My Parties</a>
        </li>
        <li>
          <button id="logoutBtn" class="btn-no-style">logout</button>
        </li>
      </ul>
    </nav>
  </header>
  <main class="col-12 col-lg-9 d-flex flex-column">
    {{my-parties}}
  </main>
</div> --}}