{{> navbar}}
<main>
    <!-- Tiles for Parties Added Here.  Will be moved to Partials files once completed --->
    {{!-- <div class="columns is-multiline is-justify-content-center"> --}}
        <div class="party-container">
        {{> my-parties}}
    

    <!-- Modal: Create Party -->
    <div class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Create A Party</p>
                <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <form id="create-form" class="create-party-form">
                    <div class="container is-fluid mb-4">
                        <label for="title">Title:</label>
                        <div class="control" id="create-title">
                            <input class="input is-rounded m-1" id="createPartyTitle" type="text" style="background-color:#EEE6E6">
                        </div>
                    </div><hr>
                    <div class="container is-fluid mb-4">
                        <div class="check-public">
                            Is this party <label for="createPartyPublic">public</label>
                            <input type="checkbox" name="public" id="createPartyPublic" value="true"/>
                            <label for="createPartyPrivate"> or private</label>
                            <input type="checkbox" name="private" id="createPartyPrivate" value="false"/>
                            <p>Your choice determines whether the party will be discoverable on searches by other users.</p>
                        </div>
                    </div><hr>
                    <div class="container is-fluid mb-4">
                        <div class="check-age is-flex">
                            <p>Is age minimum strictly 21 years age and older?</p>
                            <div class="ml-2">
                                <input type="radio" name="age-confirm" id="createIsOver21True" />
                                <label for="createIsOver21True">Yes</label>
                            </div>
                            <div class="ml-2">
                                <input type="radio" name="age-confirm" id="createIsOver21False" />
                                <label for="createIsOver21False">No</label>
                            </div>                            
                        </div>
                    </div><hr>
                    <div class="container is-fluid mb-4 is-flex is-align-content-vertical">
                        <label for="title">Select the theme:</label>
                        <div class="select is-rounded ml-2">
                            <select class="theme"  id="createPartyTheme" style="background-color:#EEE6E6">
                                <option value="1" selected>costume</option>
                                <option value="2">kegger</option>
                                <option value="3">tailgate</option>
                                <option value="4">fancy cocktails</option>
                                <option value="5">dinner</option>
                            </select>
                        </div>
                    </div><hr>
                    <div class="container is-fluid mb-4">
                        <label for="title">On what date will your party take place?</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input is-rounded m-1" id="createPartyStartDate" type="date" style="background-color:#EEE6E6">
                        </div>
                    </div><hr>
                </form>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-rounded is-link" id="createPartyBtn">Create Party</button>
                <button class="button is-rounded" id="modalCancel">Cancel</button>
            </footer>
        </div>
    </div>

    <!-- Modal: Search Party -->
    <div id="search-modal" class="modal">
        <div class="search-modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Search for a Party</p>
                <button id="search-delete" class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <form id="search-party-form">
                    <!-- option to search distance can be added here -->
                    <div class="container is-fluid mb-4">
                        <div class="check-age">
                            <p>Over 21:</p>
                            <input type="radio" name="age-confirm" id="searchIsOver21True" />
                            <label for="searchIsOver21True">Yes</label>
                            <input type="radio" name="age-confirm" id="searchIsOver21False" />
                            <label for="searchIsOver21False">No</label>
                        </div>
                    </div>
                    <div class="container is-fluid mb-4">
                        <label for="title">Theme:</label>
                        <div class="select is-rounded" id="create-theme">
                            <select class="theme" style="background-color:#EEE6E6">
                                <option>costume</option>
                                <option>kegger</option>
                                <option>tailgate</option>
                                <option>fancy cocktails</option>
                                <option>dinner</option>
                            </select>
                        </div>
                    </div>
                </form>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-rounded is-link">Save changes</button>
                <button class="button is-rounded">Cancel</button>
            </footer>
        </div>
    </div>
    </div>
</main>

<script src="/js/dashboard.js"></script>
<script src="/js/logout.js"></script>