<form class="login-form">
  <div>
    <label for="email-login">email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button id="login-form" type="submit">login</button>
  </div>
</form>

<form class="signup-form">
  <div>
    <label for="firstname-signup">Enter first name:</label>
    <input type="text" placeholder="First name" name="firstName" id="firstname-signup" class="form-input" />
  </div>
  <div>
    <label for="lastname-signup">Enter last name:</label>
    <input type="text" placeholder="Last name" name="lastName" id="lastname-signup" class="form-input" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="age-signup">age:</label>
    <input type="integer" id="age-signup" />
  </div>
  <div>
    <label for="address-signup">home address:</label>
    <input type="text" id="address-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button id="submit-form" type="submit">signup</button>
  </div>
</form>


<script src="/javascript/login.js"></script>