{{> navbar}}

<h1 class="has-text-centered is-size-1 is-size-5-mobile">
    Your party search criteria returned the following parties:
</h1>

<div class="columns is-multiline is-justify-content-center">
    {{#each parties as |party|}}
    {{> party-card-search}}
    {{/each}}
</div>

<script src="/js/dashboard.js"></script>
<script src="/js/logout.js"></script>