{{> navbar}}

<h1 class="has-text-centered is-size-1 is-size-5-mobile">
    Your search criteria returned the following parties:
</h1>

{{#each partySearchResults as |party|}}
{{> searchResult}}
{{/each}}