* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Fredoka One', cursive; */
    font-family: 'Montserrat';
    color: #472352;
} 

body {
    background-color: #EEE6E6;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
    color: #472353;
    box-shadow: 0px 0px 5px #dadccf;
}

.app-title {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 2.5rem;
    margin: 1rem;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: #472353;
    font-weight: bold;
    padding: 1rem;
    display: block;
}

.nav-list {
    background: #dcc5c5;
    margin: 0;
    padding: 1rem 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.nav-list li a {
    text-decoration: none;
    padding: 1rem;
    display: block;
}

.navbar-links li a:hover {
    color: #EEE6E6;
    background-color: #b26cdd;
    border-radius: 30px;
}

.logout-button {
    /* border-radius: 30px; */
    padding: 1rem;
}

.toggle-button {
    position: absolute;
    top: 2.25rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #472353;
    border-radius: 10px;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.search-modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.is-active {
    visibility: visible;
    opacity: 1;
}

.tile {
    margin-top: 20px;
}

.form-header {
    font-size: 24px;
    padding: 10px;
    margin: 10px;
}

.party-card {
    display: flex;
    margin: 35px;
    border-radius: 30px;
    color: #dcc5c5;
    box-shadow: 0px 0px 5px #cfd8dc;
}

.card-header {
    font-size: 1.25rem;
    padding: 20px;
}

.party-image {
    display: flex;
    width: 400px;
}

.card-date {
    justify-content: center;
}

@media (max-width: 750px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

