/* ZERO OUT ANY USER-AGENT-ASSIGNED MARGINS, PADDINGS, ETC. */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

.homepage-navbar {
    padding: 10px 35px; 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
  }


.app-name {
      font-size: 68px;
      font-weight: bold;
      color: #FAC710;
}

#hero-frame img {
    background-size: cover;
    display: flex;
    opacity: .90;
    background-attachment: absolute top;
    flex-wrap: wrap;
    background-position: 100%;
}

footer {
    display: flex;
    /* background-color: black; */
    width: 100%;
    padding: 25px 35px;
    justify-content: space-between;
    /* position: static; */
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
}

.enter-btn {
    font-size: 18px;
    font-weight: bold;
    border-width: 0;
    box-shadow: 0px 0px 5px #92834d;
    background-color: #FAC710;
    background-image: linear-gradient(135deg, #ecc344 0%, #b3811e 100%);
    padding: 15px;
    border-radius: 30px;
    color: #472352;
}